/* version 1.0.0 */

.m-b-0-i {
	margin-bottom: 0px !important;
}

.p-b-0-i {
	padding-bottom: 0px !important;
}

.my-btn-action:hover {
	text-decoration: none;
}

.my-btn-edit {
	cursor: pointer;
}

/* .my-btn-edit-disabled {
		cursor: not-allowed;
		opacity: .65;
	} */

.my-btn-delete {
	cursor: pointer;
	color: #fb483a;
}

.my-btn-delete:hover {
	color: #cc3b30;
}

.my-btn-disabled {
	cursor: not-allowed;
	opacity: .65;
}